<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 align="center">OHGIRAFFERS RESTAURANT에 오신 것을 환영합니다.</h1>
	
	<button onclick="location.href='/menu/7'">7번 메뉴보기</button>
	<button onclick="location.href='/menu/list'">메뉴보기</button>
	<button onclick="location.href='/menu/regist'">메뉴 입력하기</button>
	<button onclick="location.href='/menu/modify'">메뉴 수정하기</button>
	<button onclick="location.href='/menu/search'">메뉴 검색하기&페이징</button>
</body>
</html>